*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    /* padding: auto; */
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

main.container{
    display: flex;
    max-width: 375px;
    max-height: 800px;
    overflow: hidden;
    /* border: 5px solid black; */
    padding: 20px;
}
/* Image background top */
.bgTop{
    position: fixed;
    width: 500px;
    height: auto;
    max-width: 700px;
    top: -200px;
    left: -300px;
    transform: rotate(-45deg); 
    /* border: 2px solid black; */
}
/* Image background bottom */
.bgBottom{
    position: fixed;
    width: 500px;
    height: auto;
    max-width: 700px;
    bottom: -200px;
    right: -300px;
    /* border: 2px solid black; */
}
/* full profile container */
.containerProfile{
    display: block;
    position: relative;
    width: 350px;
    height: 360px;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

/* avatar img div*/
.avatar {
    margin-bottom: -2rem;
}

/* the img */
#imgVictor{
    display: flex;
    position: relative;
    top: -55px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid white;
}
/* <hr> inside .containerProfile */
.containerProfile hr{
    display: block;
    color: hsl(0, 0%, 59%);
    border-top-width: 0.1px;
    border-style: inset;
    margin: 1.5rem 0;
}

/* the div line for name and age */
.containerProfile .name{
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
/* all h4 tags */
.containerProfile h4 {
    font-size: 18px;
    font-weight: 700;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    border-bottom: 10rem;
    color: hsl(229, 23%, 23%);
}

/* span tag used in age */
.containerProfile span {
    font-weight: 400;
    margin-left: 8px; 
    color: hsl(227, 10%, 46%);
}

/* <p> tag used to City */
.containerProfile p {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: hsl(227, 10%, 46%)
}
/* <p> tags used in social div */
.containerProfile .social p{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: hsl(227, 10%, 46%)
}
/* .social div */
.containerProfile .social {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 900px)
{
    body{
        border: auto;
    }
    main.container{
        max-width: 900px;
    }

    .bgTop{
        width: 100%;
        height: auto;
        max-width: 978px;
        top: -300px;
        left: -50px;
        transform: rotate(-30deg);
    }

    .bgBottom{
        width: 100%;
        height: auto;
        max-width: 978px;
        right: -30px;
        bottom: -500px;
    }

}

